# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Nikolaev_RA_Project4_Var1_sideA.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
